.contenedor{
    background-color: rgb(197, 191, 191);
    position: fixed;
    /* flex-direction: column; */
    bottom:  30%;
    left:  30%;
    width: 40%;
    height: 60%;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgb(87, 86, 86);
    animation-name: abrir2;
    animation-duration: 0.3s;
}
.btns{
    bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.readonly{
    background-color: rgba(177, 172, 172, 0.74);
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/sharingan2.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.btnContenedor[type=button]{
    width: 20%;
    background-color: rgb(0, 139, 253);
}
.btnContenedor[type=button]:hover{
    background-color: rgb(0, 139, 190);
}
.btnEliminar[type=button]{
    width: 20%;
    background-color: rgb(207, 6, 6);
    
}
.btnEliminar[type=button]:hover{
    background-color: rgb(231, 7, 7);

}
.btnPromedio[type=button]{
    width: 10%;
}

.promedio[type=text]{
    width: 10%;

}
@keyframes abrir{
    from{
        width: 0%;
        height: 0%;
    }
    to{
        width: 50%;
        height: 25%;
    }
}
@keyframes abrir2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fieldset{
    width: 93%;
    padding: 12px 20px;
    margin: 8px;
}
input[type=button]{
    width: 22%;
    background-color: rgb(8, 95, 153);
    color: white;
    padding: 14px 25px;
    margin: 10px;
    border: none;
    text-align: center;

    border-radius: 4px;
    cursor: pointer;
}
input[type=text]{
    width: 93%;
    padding: 12px 20px;
    margin: 8px;
}
input[type=date]{
    width: 93%;
    padding: 12px 20px;
    margin: 8px;
}

.inputError{
    border: 2px solid red;
}
.inputSinError{
    border: 1px solid rgb(0, 0, 0);
}
.btnCerrar[type=button]{
    margin: 0px;
    padding: 0px 0px;
    width: 1cm;
    height: 1cm;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgb(207, 6, 6);
    color: white;
    cursor: pointer;
    border-radius: 0px;
}
.btnCerrar[type=button]:hover {
    background-color: rgb(231, 7, 7);
}
.promedio[type=text] {
    background-color: rgb(255, 255, 255);
    width: 2%;
    height: 3%;

}


.abrir{
    background-color: rgb(4, 100, 4);
    color: white;
    bottom: 0;
    right: 0;
    width: 200px;
}
.btnAbrir[type=button]{
    /* bottom: 0; */
    top: 1%;
    right: 0;
    position: fixed;
    width: 5%;
    text-align: center;

    background-color: rgb(8, 95, 153);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 5px 5px 2px 0px rgb(87, 86, 86);

}
.slc{
    background-color: rgb(9, 101, 129);
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
}
select{
    width: 20%;
    padding: 8px 8px;
    margin: 8px;
}

input[type=button]:hover {
    background-color: rgba(8, 95, 153, 0.623);
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    text-align: left;
    padding: 8px;
}

th{
    background-color: rgb(9, 101, 129);
    color: white;
}
tr:nth-child(even){
    background-color: rgb(9, 101, 129);
}
body{
    background-color: rgb(80, 230, 230);
}
.ocultarId{
    display: none;
}
.ocultarMarca{
    display: none;
}
.ocultarPrecio{
    display: none;
}
.ocultarModelo{
    display: none;
}